.header {
  width: 100%;
  height: 140px;
  margin: 0 auto;
  background-color: #f3f2f7;
  cursor: pointer;
}

.header .top_hea {
  width: 1200px;
  height: 24px;
  padding: 10px 0px;
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  margin: 0 auto;
}

.header .top_hea .app {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .top_hea ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
}

.header .top_hea ul li {
  padding: 0px 3px;
  text-align: right;
  border-left: 1px solid #999;
  float: left;
}

.header .bot_hea {
  width: 1200px;
  height: 90px;
  border: 1px solid blue;
  margin: 0 auto;
}

.header .bot_hea .search {
  width: 100%;
  border: 1px solid yellow;
  display: flex;
  flex-direction: row;
}

.header .bot_hea .search .logo {
  width: 475px;
  height: 33px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 10px;
}

.header .bot_hea .search .search {
  width: 725px;
  height: 46px;
  display: flex;
  flex-direction: column;
}

.header .bot_hea .search .search .search_top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .bot_hea .search .search .search_top .areach_inp {
  height: 100%;
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header .bot_hea .search .search .search_top .areach_inp input {
  display: inline-block;
  width: 446px;
  height: 18px;
  padding: 6px 0px;
  border: 2px solid darkblue;
  box-sizing: content-box;
  outline: none;
}

.header .bot_hea .search .search .search_top .area {
  width: 50px;
  height: 34px;
  background-color: darkblue;
  outline: none;
}

.header .bot_hea .search .search .car {
  width: 140px;
  height: 34px;
  border: 1px solid #999;
}

.header .bot_hea .search .search .hotsearch {
  width: 325px;
  height: 20px;
  font-size: 12px;
  margin-top: 10px;
}

.header .bot_hea .search .search .hotsearch li {
  float: left;
  padding: 4px;
}

.cla {
  width: 100%;
  height: 46px;
  cursor: pointer;
}

.cla .aboust {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  border: 1px solid yellowgreen;
}

.cla .aboust .list_one {
  width: 212px;
  height: 100%;
  position: relative;
}

.cla .aboust .list_one .one_lis {
  width: 212px;
  height: 46px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  padding-top: 8px;
  box-sizing: border-box;
  background-color: #223b61;
}

.cla .aboust .list_one .one_lis .list_two {
  width: 100%;
  height: 446px;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  font-size: 15px;
  position: absolute;
  z-index: 666;
  left: 0;
  top: 46px;
}

.cla .aboust .list_one .one_lis .list_two li {
  flex: 1;
  background-color: #fff;
  display: flex;
  align-items: center;
  color: #000;
  font-weight: normal;
  text-align: left;
  padding-left: 5px;
  font-size: 12px;
}

.cla .aboust .list_one .one_lis .list_two li:hover {
  background-color: #999;
}

.cla .aboust .list_one .one_lis .list_two li .list_tree {
  width: 988px;
  height: 446px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 212px;
  z-index: 996;
}

.cla .aboust .list_one .one_lis .list_two li .list_tree dl {
  width: 100%;
  height: 37px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 0;
}

.cla .aboust .list_one .one_lis .list_two li .list_tree dl dt {
  font-size: 15px;
  font-weight: bold;
  color: #303030;
  line-height: 25px;
  text-align: center;
  padding: 0px 20px;
}

.cla .aboust .list_one .one_lis .list_two li .list_tree dl dd {
  font-size: 12px;
  border-left: 1px solid #999;
  padding: 0px 7px;
  margin-bottom: 0px;
}

.cla .aboust .dujia {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  text-align: center;
  line-height: 46px;
  padding: 0px 32px;
}

.cla .aboust .dujia:hover {
  color: #5bb4fb;
}

.contend {
  width: 1200px;
  height: 610px;
  margin: 10px auto;
}

.contend .text {
  width: 100%;
  overflow: hidden;
}

.contend .text .name {
  width: 720px;
  height: 50px;
  line-height: 50px;
  float: left;
}

.contend .text .code {
  width: 480px;
  height: 50px;
  float: left;
}

.contend .text .code span {
  height: 30px;
}

.contend .text .recomment {
  width: 100%;
  height: 30px;
  float: left;
}

.contend .imgs {
  width: 420px;
  height: 518px;
  padding: 0px 20px;
  float: left;
}

.contend .imgs .bigimg {
  width: 420px;
  height: 420px;
  position: relative;
}

.contend .imgs .bigimg .big {
  width: 100%;
  height: 100%;
}

.contend .imgs .bigimg .mask {
  width: 180px;
  height: 180px;
  opacity: 0.3;
  display: none;
  background-color: rosybrown;
  position: absolute;
}

.contend .imgs .bigimg .show {
  display: none;
  position: absolute;
  left: 430px;
  top: 30px;
  overflow: hidden;
}

.contend .imgs .bigimg .show img {
  position: absolute;
}

.contend .imgs .list {
  width: 420px;
  height: 82px;
}

.contend .imgs .list nav {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.contend .imgs .list nav li {
  width: 74px;
  height: 74px;
  float: left;
  border: 1px dashed #999;
  margin: 0px 2px;
}

.contend .imgs .list nav li img {
  width: 100%;
  height: 100%;
}

.contend .information {
  width: 740px;
  height: 518px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  float: left;
}

.contend .information dl {
  width: 100%;
  height: 33px;
}

.contend .information dl dt {
  width: 110px;
  height: 100%;
  line-height: 33px;
  float: left;
  font-weight: bold;
  background-color: #CEE4FB;
  color: #999;
  text-align: center;
  border: 1px dashed #999;
}

.contend .information dl dd {
  width: 570px;
  height: 100%;
  font-size: 12px;
  line-height: 33px;
  padding-left: 20px;
  display: flex;
  float: left;
}

.contend .information dl dd span {
  height: 100%;
  padding: 0px 8px;
  margin: 0px 5px;
  box-sizing: border-box;
  border: 1px dashed #999;
}

.contend .information dl dd button {
  width: 50px;
  height: 100%;
  outline: none;
  font-size: 25px;
  line-height: 33px;
}

.contend .information dl dd .number {
  width: 80px;
  height: 100%;
  background-color: #fff;
  display: block;
  text-align: center;
  font-size: 20px;
  margin: 0;
  font-weight: bold;
}

.contend .information p {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 8px 100px;
}

.contend .information p button {
  width: 200px;
  height: 40px;
  outline: none;
}

.contend .information p .purchase {
  background-color: #CEE4FB;
  border: 3px solid #5BB4FB;
  color: #5BB4FB;
}

.contend .information p .join {
  background-color: #5BB4FB;
  color: #fff;
  font-weight: bold;
}
