.header {
  width: 100%;
  height: 140px;
  margin: 0 auto;
  background-color: #F3F2F7;
  cursor: pointer;
}

.header .top_hea {
  width: 1200px;
  height: 24px;
  padding: 10px 0px;
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  margin: 0 auto;
}

.header .top_hea .app {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .top_hea ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
}

.header .top_hea ul li {
  padding: 0px 3px;
  text-align: right;
  border-left: 1px solid #999;
  float: left;
}

.header .bot_hea {
  width: 1200px;
  height: 90px;
  border: 1px solid blue;
  margin: 0 auto;
}

.header .bot_hea .search {
  width: 100%;
  border: 1px solid yellow;
  display: flex;
  flex-direction: row;
}

.header .bot_hea .search .logo {
  width: 475px;
  height: 33px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 10px;
}

.header .bot_hea .search .search {
  width: 725px;
  height: 46px;
  display: flex;
  flex-direction: column;
}

.header .bot_hea .search .search .search_top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .bot_hea .search .search .search_top .areach_inp {
  height: 100%;
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header .bot_hea .search .search .search_top .areach_inp input {
  display: inline-block;
  width: 446px;
  height: 18px;
  padding: 6px 0px;
  border: 2px solid darkblue;
  box-sizing: content-box;
  outline: none;
}

.header .bot_hea .search .search .search_top .area {
  width: 50px;
  height: 34px;
  background-color: darkblue;
  outline: none;
}

.header .bot_hea .search .search .car {
  width: 140px;
  height: 34px;
  border: 1px solid #999;
}

.header .bot_hea .search .search .hotsearch {
  width: 325px;
  height: 20px;
  font-size: 12px;
  margin-top: 10px;
}

.header .bot_hea .search .search .hotsearch li {
  float: left;
  padding: 4px;
}

.cla {
  width: 100%;
  height: 46px;
  cursor: pointer;
}

.cla .aboust {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  border: 1px solid yellowgreen;
}

.cla .aboust .list_one {
  width: 212px;
  height: 100%;
  position: relative;
}

.cla .aboust .list_one .one_lis {
  width: 212px;
  height: 46px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  padding-top: 8px;
  background-color: #223B61;
}

.cla .aboust .list_one .one_lis .list_two {
  width: 100%;
  height: 446px;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  font-size: 15px;
  position: absolute;
  z-index: 666;
  left: 0;
  top: 46px;
}

.cla .aboust .list_one .one_lis .list_two li {
  flex: 1;
  background-color: #fff;
  display: flex;
  align-items: center;
  color: #000;
  font-weight: normal;
  text-align: left;
  padding-left: 5px;
  font-size: 12px;
}

.cla .aboust .list_one .one_lis .list_two li:hover {
  background-color: #999;
}

.cla .aboust .list_one .one_lis .list_two li .list_tree {
  width: 988px;
  height: 446px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 212px;
  z-index: 996;
}

.cla .aboust .list_one .one_lis .list_two li .list_tree dl {
  width: 100%;
  height: 37px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 0;
}

.cla .aboust .list_one .one_lis .list_two li .list_tree dl dt {
  font-size: 15px;
  font-weight: bold;
  color: #303030;
  line-height: 25px;
  text-align: center;
  padding: 0px 20px;
}

.cla .aboust .list_one .one_lis .list_two li .list_tree dl dd {
  font-size: 12px;
  border-left: 1px solid #999;
  padding: 0px 7px;
  margin-bottom: 0px;
}

.cla .aboust .dujia {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  text-align: center;
  line-height: 46px;
  padding: 0px 32px;
}

.cla .aboust .dujia:hover {
  color: #5BB4FB;
}

.banner {
  width: 100%;
  height: 446px;
  position: relative;
  overflow: hidden;
}

.banner .carousel {
  width: 1920px;
  height: 446px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.banner .carousel img {
  width: 1920px;
  height: 446px;
  background-color: #000;
}

.banner .carousel .carousel-control-prev-icon {
  position: absolute;
  font-size: 20px;
  left: 600px;
  color: #999;
}

.banner .carousel .carousel-control-next {
  position: absolute;
  right: 600px;
}

.contend {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  border: 1px solid #585858;
}

.contend .recommend {
  width: 100%;
  height: 150px;
  display: flex;
}

.contend .recommend section {
  width: 210px;
  height: 100%;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  line-height: 150px;
  background-color: #999;
}

.contend .recommend ul {
  width: 990px;
  height: 100%;
  display: flex;
}

.contend .recommend ul li {
  flex: 1;
  background-color: yellow;
}

.contend .list {
  width: 100%;
  height: auto;
}

.contend .list .items {
  width: 100%;
  height: 516px;
  border: 1px solid #58bc58;
  display: flex;
  flex-direction: column;
}

.contend .list .items .header {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #999;
  background-color: #F3F2F7;
  box-shadow: 2px 2px 2px #999999;
  display: flex;
}

.contend .list .items .header .header_l {
  width: 480px;
  height: 100%;
  display: flex;
}

.contend .list .items .header .header_l span {
  width: 30px;
  height: 30px;
  margin-top: 5px;
  border-radius: 50%;
  font-size: 25px;
  background-color: #5AA5F0;
  color: #F3F2F7;
  text-align: center;
  line-height: 30px;
}

.contend .list .items .header .header_l p {
  flex: 1;
  line-height: 40px;
  font-size: 20px;
  font-weight: bold;
  padding-left: 20px;
}

.contend .list .items .header .header_r {
  width: 720px;
  height: 100%;
}

.contend .list .items .header .header_r ul {
  height: 35px;
  margin: 0;
  float: right;
}

.contend .list .items .header .header_r ul li {
  height: 35px;
  padding: 0px 23px;
  line-height: 35px;
  text-align: center;
  float: left;
}

.contend .list .items .contents {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.contend .list .items .contents .con_l {
  width: 320px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contend .list .items .contents .con_l img {
  height: 236px;
}

.contend .list .items .contents .con_l p {
  width: 100%;
  height: 60px;
  background-color: #7A797C;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.contend .list .items .contents .con_l p a {
  font-size: 20px;
  height: 30px;
  font-weight: bold;
  color: #fff;
  padding: 0px 8px;
  line-height: 30px;
  border-left: 2px solid #fff;
}

.contend .list .items .contents .con_l p a:first-of-type {
  border-left: 0px;
}

.contend .list .items .contents .con_l .nav {
  flex: 1;
}

.contend .list .items .contents .con_l .nav ul {
  width: 100%;
  height: 100%;
  background-color: #E8E8E3;
  margin-bottom: 0;
}

.contend .list .items .contents .con_l .nav ul li {
  width: 33%;
  height: 28px;
  padding-left: 8px;
  float: left;
  border-left: 1px solid #fff;
  text-align: center;
}

.contend .list .items .contents .con_r {
  width: 100%;
  height: 473px;
  overflow: hidden;
  position: relative;
}

.contend .list .items .contents .con_r .con_r_item {
  width: 100%;
  height: 100%;
  overflow: hidden;
  visibility: hidden;
  display: flex;
  flex-flow: row wrap;
  position: absolute;
}

.contend .list .items .contents .con_r .con_r_item:nth-of-type(1) {
  visibility: visible;
}

.contend .list .items .contents .con_r .con_r_item:nth-of-type(1) span:nth-of-type(1) {
  width: 436px;
}

.contend .list .items .contents .con_r .con_r_item span {
  width: 218.5px;
  height: 236px;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
}

.contend .list .items .contents .con_r .con_r_item span img {
  width: 100%;
  height: 100%;
}

.footer {
  width: 100%;
  height: auto;
  background-color: #F3F2F7;
}

.footer .footer_top {
  width: 100%;
  height: 60px;
  background-color: #223B61;
  position: relative;
}

.footer .footer_top img {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.footer .footer_btm {
  width: 1200px;
  margin: 0 auto;
  padding-top: 35px;
}

.footer .footer_btm ul {
  width: 192px;
  margin-left: 40px;
  float: left;
}

.footer .footer_btm ul li {
  width: 100%;
  font-size: 12px;
  height: 25px;
  line-height: 25px;
}

.footer .footer_btm ul li:nth-of-type(1) {
  font-size: 15px;
  font-weight: bold;
}

.ative {
  color: #5BB4FB;
  position: relative;
}

.ative::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #5BB4FB;
  position: absolute;
  left: 50%;
  bottom: 2px;
  transform: translateX(-50%);
}

.bigwid {
  width: 48%;
  height: 49%;
}
