.commodity {
  width: 980px;
  margin: 0 auto;
}

.commodity .top {
  width: 100%;
  height: 34px;
  display: flex;
  justify-content: space-between;
}

.commodity .top .text {
  padding: 0 20px;
  height: 100%;
  line-height: 34px;
  font-size: 25px;
  font-weight: bold;
  color: #b63c3c;
}

.commodity .top .text span {
  padding-left: 10px;
  font-size: 15px;
  font-weight: none;
  color: #999;
}

.commodity .top .Select {
  height: 100%;
  line-height: 34px;
  font-size: 18px;
}

.commodity .top .Select .price {
  font-size: 13px;
  color: #b63c3c;
  padding: 0px 10px;
}

.commodity .top .Select button {
  padding: 3px 8px;
  background-color: #999;
}

.commodity .top .btom_top {
  width: 100px;
  padding-left: 10px;
}

.commodity .top .btom_top label {
  font-size: 20px;
  font-weight: bold;
  color: #999999;
}

.commodity .top .btom_top input {
  margin-left: 5px;
}

.commodity .bottom {
  width: 100%;
}

.commodity .bottom .lists {
  width: 100%;
  height: 110px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.commodity .bottom .lists .shop {
  width: 100%;
  height: 82px;
  display: flex;
}

.commodity .bottom .lists .shop .check {
  width: 45px;
  height: 82px;
}

.commodity .bottom .lists .shop ul {
  width: 100%;
  height: 82px;
  display: flex;
}

.commodity .bottom .lists .shop ul li {
  height: 82px;
  padding: 0px 5px;
  box-sizing: border-box;
}

.commodity .bottom .lists .shop ul .imgs {
  width: 80px;
  height: 82px;
}

.commodity .bottom .lists .shop ul .imgs img {
  width: 80px;
  height: 80px;
}

.commodity .bottom .lists .shop ul .cla {
  width: 150px;
}

.commodity .bottom .lists .shop ul .cla span:nth-of-type(1) {
  color: #517db6;
}

.commodity .bottom .lists .shop ul .price {
  width: 120px;
}

.commodity .bottom .lists .shop ul .texts {
  width: 300px;
  font-size: 12px;
}

.commodity .bottom .lists .shop ul .num {
  width: 180px;
  display: flex;
}

.commodity .bottom .lists .shop ul .num button {
  width: 30px;
  height: 20px;
  outline: none;
  font-size: 15px;
  line-height: 20px;
}

.commodity .bottom .lists .shop ul .num span {
  width: 40px;
  height: 20px;
  background-color: #fff;
  display: block;
  text-align: center;
  font-size: 15px;
  margin: 0;
  font-weight: bold;
}

.commodity .bottom .lists .shop ul .remove span {
  display: block;
  width: 80px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #ffffff;
  font-weight: bold;
  background-color: #1ea5c7;
  border: 1px dashed #0868e6;
  font-weight: bold;
}
